@model List<Where2Pay.Models.UserBiller>

<h1>@ViewBag.Title</h1>
<h4>This page is for adding Managing A User's List of Billers</h4>

@if (Model.Count == 0)
{
    <p><h2>No billers yet!</h2></p>
}

<table class="table">

    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Account</th>
        <th>Where2Pay</th>
    </tr>

    @foreach (var biller in Model)
    {
        <tr>
            <td>@biller.UsersBiller</td>
            <td>@biller.Description</td>
            <td>@biller.Account</td>
            <td><input type="button" value="Where2Pay @biller.Name" /></td>
        </tr>
    }
</table>

<p><a asp-area="" asp-controller="UserBiller" asp-action="Add">Add Biller</a></p>