@model Where2Pay.Models.Agent

<h1>@Model.Name</h1>

<table>
    <tr>
        <td><b>Phone Number</b></td>
        <td>@Model.Phone</td>
    </tr>
    <tr>
        <td><b>Address</b></td>
        <td>@Model.Street1</br>@Model.Street2</br>@Model.City, @Model.State @Model.Zip</td>
    </tr>
    <tr>
        <td><b>Processes Payments For</b></td>
        @*foreach (biller in Agent.AgentsBillers)
            {
            <td>biller.Name</td> ---or something like that
            }*@
        <td><a asp-controller="Agent" asp-action="AddAgentsBillers" asp-route-id="@Model.ID"><b>Add a Biller</b></a></td>
    </tr>
</table>