@model Where2Pay.Models.Agent

<h1>@Model.Name</h1>

<table>
    <tr>
        <td><b>Phone Number</b></td>
        <td>@Model.Phone</td>
    </tr>
    <tr>
        <td><b>Address</b></td>
        <td>@Model.Street1</br>@Model.Street2</br>@Model.City, @Model.State @Model.Zip</td>
    </tr>
    <tr>
        <td><b>Processes Payments For</b></td>
        <td></br>Available Billers will be displayed here</td>
    </tr>
</table>